:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F
}

.home {
    margin-top: 6.18vw;
}

.restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurantHeading {
    width: min-content;
    color: var(--secondary);
    background-color: rgba(255, 138, 0, 0.1);
    border-radius: 1.95vw;
    padding: 0.65vw 1.82vw;
    font-family: 'raleway', sans-serif;
    font-size: 1.17vw;
}

.restaurantTitle {
    margin-block: 1.3vw;
    color: var(--primary);
    font-family: 'raleway', sans-serif;
    font-size: 5.6vw;
    font-weight: 700;
}

.restaurantInfo {
    color: #5C4529;
    font-size: 1.3vw;
    font-family: 'poppins', sans-serif;
}

.restaurantButtons {
    margin-top: 3.58vw;
    display: flex;
    gap: 0.78vw;
}

.restaurantButtons button {
    color: white;
    width: 12.37vw;
    padding-block: 1.04vw;
    font-size: 1.3vw;
    border-radius: 1.95vw;
    cursor: pointer;
    transition: 200ms;
}

.restaurantOrder {
    border: 0.065vw solid var(--secondary);
    background-color: var(--secondary);
}

.restaurantReservation {
    border: 0.065vw solid var(--tertiary);
    background-color: var(--tertiary);
}

.restaurantOrder:hover {
    background-color: #ca6d04;
    border: 0.065vw solid #ca6d04;
}

.restaurantReservation:hover {
    border: 0.065vw solid #338b25;
    background-color: #338b25;
}

.restaurantLeft {
    width: 50%;
}

.restaurantRight {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.vegetable1 {
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-12%, -15%);
    user-select: none;
}

.vegetable2 {
    width: 35%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(160deg);
    translate: 6% 13%;
    user-select: none;
}

.restaurantSpaghettiImg {
    width: 97%;
    z-index: 1;
    filter: drop-shadow(clamp(-5px, -0.33vw, -0.33vw) clamp(10px, 0.65vw, 0.65vw) clamp(25px, 1.63vw, 1.63vw) rgba(79, 79, 79, 0.2));
    user-select: none;
}

/* -----------> Welcome To Delizioso <------------ */

.welcomeDelizioso {
    margin-top: 8.46vw;
    padding-block: 6.51vw;
    background-color: rgba(63, 198, 110, 0.1);
}

.insideWelcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcomeLeft {
    width: 50%;
    position: relative;
}

.leaf1,
.leaf2 {
    z-index: 1;
    position: absolute;
    user-select: none;
    width: 20%;
}

.leaf1 {
    top: 60%;
    left: -3%;
    transform: rotate(120deg);
}

.leaf2 {
    top: 15%;
    right: 0;
    transform: rotate(250deg);
}

.welcomeRight {
    width: 41%;
}

.saladImg {
    width: 100%;
    filter: drop-shadow(clamp(20px, 1.3vw, 1.3vw) clamp(20px, 1.3vw, 1.3vw) clamp(20px, 1.3vw, 1.3vw) rgba(79, 79, 79, 0.2));
    user-select: none;
}

.welcomeTitle {
    color: var(--primary);
    font-size: 5.27vw;
    font-family: 'tinos';
    font-weight: 700;
}

.orange {
    color: var(--secondary);
}

.welcomeInfo {
    color: #5C4529;
    margin-block: 1.6vw;
    font-size: 1.3vw;
    font-family: 'poppins';
}

.welcomeBtn {
    margin-top: 1.4vw;
    color: white;
    background-color: var(--secondary);
    border: 0.065vw solid var(--secondary);
    width: 12.37vw;
    padding-block: 1.04vw;
    font-size: 1.3vw;
    border-radius: 1.95vw;
    cursor: pointer;
    transition: 200ms;
}

.welcomeBtn:hover {
    background-color: #ca6d04;
    border: 0.065vw solid #ca6d04;
}

/* ---------> Reserve Table <----------- */

.reserveTable {
    margin-top: 6.8vw;
    padding-block: 4.88vw;
    background-color: #fff4e7cb;
}

.insideReserve {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reserveLeft {
    width: 56%;
    position: relative;
    border: 0.065vw solid rgba(49, 31, 9, 0.2);
    border-radius: 100%;
    height: 50.46vw;
    transform: translateX(-10%);
}

.reserveRight {
    width: 40%;
}

.reserveTitle {
    color: var(--primary);
    font-size: 5.27vw;
    font-family: 'tinos';
    font-weight: 700;
}

.reserveInfo {
    color: #5C4529;
    margin-block: 1.63vw;
    font-size: 1.30vw;
    font-family: 'poppins';
}

.reserveBtn {
    margin-top: 1.43vw;
    color: white;
    background-color: var(--secondary);
    border: 0.065vw solid var(--secondary);
    width: 12.37vw;
    padding-block: 1.04vw;
    font-size: 1.30vw;
    border-radius: 1.95vw;
    cursor: pointer;
    transition: 200ms;
}

.reserveBtn:hover {
    background-color: #ca6d04;
    border: 0.065vw solid #ca6d04;
}

.insideLeft {
    border-radius: 100%;
    position: absolute;
    inset: 5.86vw;
    background-color: rgba(225, 195, 159, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftImg {
    width: 29.95vw;
    height: 29.30vw;
    border-radius: 100%;
    object-fit: cover;
    user-select: none;
}

.reserveAbsolute {
    width: 9.44vw;
    height: 9.44vw;
    background-color: rgba(225, 195, 159, 0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.reserveAbsolute img {
    width: 7.10vw;
    height: 7.10vw;
    border-radius: 100%;
    object-fit: cover;
    user-select: none;
}

.reserveAbsolute1 {
    top: 0;
    right: 11.5%;
}

.reserveAbsolute2 {
    left: 11.5%;
    bottom: 0;
}

/* -----------> Chef <------------- */

.chefTitle {
    color: var(--primary);
    margin-top: clamp(24px, 3.85vw, 3.85vw);
    font-size: 5.21vw;
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.cooks {
    margin-top: 5.3vw;
    display: grid;
    gap: 2.6vw 2.28vw;
    grid-template-columns: repeat(3, 1fr);
}

.chefCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chefImage {
    border-radius: 2.93vw;
    width: 100%;
    height: 41.02vw;
    object-fit: cover;
    object-position: top center;
    user-select: none;
    animation: AImage 1s;
}

@keyframes AImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.chefName {
    color: var(--primary);
    margin-top: 1.95vw;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 1.63vw;
}

.chefJob {
    margin-top: 1.17vw;
    color: #A08D76;
    font-family: 'poppins';
    font-size: 1.30vw;
}

.chefBtn {
    width: 14.32vw;
    color: white;
    margin-top: 5.21vw;
    margin-inline: auto;
    padding-block: 1.04vw;
    font-size: 1.30vw;
    background-color: var(--secondary);
    border: 0.065vw solid var(--secondary);
    border-radius: 1.95vw;
    display: block;
    cursor: pointer;
    transition: 200ms;
}

.chefHideBtn {
    width: 3.25vw;
    height: 3.25vw;
    color: black;
    margin-top: 4.56vw;
    margin-inline: auto;
    font-size: 1.63vw;
    background-color: rgb(241, 241, 241);
    border: 0.065vw solid transparent;
    border-radius: 1.95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
}

.chefHideBtn:hover {
    background-color: rgb(227, 227, 227);
    border: 0.065vw solid rgb(227, 227, 227);
}

.chefBtn:hover {
    background-color: #ca6d04;
    border: 0.065vw solid #ca6d04;
}

.hideBtn {
    display: none;
}

/* --------------> weAreOpen <-------------- */

.weAreOpen {
    margin-top: 125px;
    padding-block: 45px 57px;
    width: 100%;
    background: linear-gradient(25deg, rgba(6, 6, 6, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 70px;
    position: relative;
    user-select: none;
}

.insideWeAreOpen {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: text;
}

.openTitle {
    font-family: 'tinos';
    font-size: 80px;
    font-weight: 700;
}

.openInfo {
    margin-top: 16px;
    font-family: 'poppins';
    font-size: 40px;
    font-weight: 500;
}

.openTimeDiv {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;
}

.openTimeP {
    font-size: 20px;
    font-family: 'poppins';
    font-weight: 300;
}

.openButtons {
    margin-top: 48px;
    display: flex;
    gap: 12px;
}

.openButtons button {
    color: white;
    width: 230px;
    padding-block: 18px;
    font-size: 19px;
    border-radius: 30px;
    cursor: pointer;
    transition: 200ms;
}

.openOrderBtn {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.openReservBtn {
    background-color: var(--tertiary);
    border: 1px solid var(--tertiary);
}

.openOrderBtn:hover {
    background-color: #ca6d04;
    border: 1px solid #ca6d04;
}

.openReservBtn:hover {
    border: 1px solid #338b25;
    background-color: #338b25;
}

.weAreOpenImg {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    object-fit: cover;
    z-index: -1;
    border-radius: 70px;
}


@media(max-width:650px) {
    .restaurant {
        flex-direction: column;
        gap: 15vw;
    }

    .restaurantLeft,
    .restaurantRight {
        width: 100%;
    }

    .restaurantHeading {
        border-radius: 4.68vw;
        padding: 1.56vw 4.37vw;
        font-size: 2.81vw;
    }

    .restaurantTitle {
        margin-block: 3.12vw;
        font-size: 13.44vw;
    }

    .restaurantInfo {
        font-size: 3.12vw;
    }

    .restaurantButtons {
        margin-top: 8.2vw;
        gap: 1.87vw;
    }

    .restaurantButtons button {
        width: 31.134vw;
        padding-block: 2.72vw;
        font-size: 3.2vw;
        border-radius: 4.8vw;
    }

    .restaurantOrder {
        border: 0.156vw solid var(--secondary);
    }

    .restaurantReservation {
        border: 0.156vw solid var(--tertiary);
    }

    /* --------> Welcome to Delizioso <------- */

    .insideWelcome {
        flex-direction: column-reverse;
        gap: 7.5vw;
    }

    .welcomeLeft,
    .welcomeRight {
        width: 100%;
    }

    .welcomeDelizioso {
        margin-top: 15.45vw;
        padding-block: 8vw;
    }

    .welcomeTitle {
        font-size: 13vw;
    }

    .welcomeInfo {
        margin-block: 3.8vw;
        font-size: 3.14vw;
    }

    .welcomeBtn {
        margin-top: 3.3vw;
        border: 0.156vw solid var(--secondary);
        width: 31.134vw;
        padding-block: 2.72vw;
        font-size: 3.2vw;
        border-radius: 4.8vw;
    }

    /* ---------> Reverse Table <------------ */

    .reserveTable {
        overflow: hidden;
        margin-top: 13.3vw;
        padding-block: 8vw 10vw;
    }

    .insideReserve {
        flex-direction: column-reverse;
        width: 100%;
        gap: 9vw;
    }

    .reserveRight {
        width: 85%;
    }

    .reserveLeft {
        box-sizing: border-box;
        transform: translate(0px);
        width: 115%;
        height: 110vw;
    }

    .reserveTitle {
        font-size: 13vw;
    }

    .reserveInfo {
        margin-block: 3.8vw;
        font-size: 3.14vw;
    }

    .reserveBtn {
        margin-top: 3.3vw;
        border: 0.156vw solid var(--secondary);
        width: 31.134vw;
        padding-block: 2.72vw;
        font-size: 3.2vw;
        border-radius: 4.8vw;
    }

    .insideLeft {
        inset: 11.5vw;
    }

    .leftImg {
        width: 69.8vw;
        height: 69vw;
    }

    .reserveAbsolute {
        width: 20vw;
        height: 20vw;
    }

    .reserveAbsolute img {
        width: 15vw;
        height: 15vw;
    }

    /* ---------> Chef <--------- */

    .chefTitle {
        font-size: clamp(42px, 12vw, 200px);
        margin-top: clamp(23px, 5vw, 5vw);
    }

    .cooks {
        grid-template-columns: 1fr 1fr;
        gap: 5.5vw 3.25vw;
        margin-top: 8vw;
    }

    .chefImage {
        height: 75vw;
        border-radius: 4vw;
    }

    .chefName {
        margin-top: 3.65vw;
        font-size: 3.5vw;
    }

    .chefJob {
        margin-top: 1.6vw;
        font-size: 3.2vw;
    }


    .chefBtn {
        width: 33.51vw;
        margin-top: 12.19vw;
        padding-block: 2.43vw;
        font-size: 3.35vw;
        border: 0.15vw solid var(--secondary);
        border-radius: 4.56vw;
    }
    
    .chefHideBtn {
        width: 10vw;
        height: 10vw;
        margin-top: 13.87vw;
        font-size: 4.95vw;
        border: 0.20vw solid transparent;
        border-radius: 5.93vw;
    }
    
  
}