:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F
}

.home {
    margin-top: clamp(0px, 6.18vw, 123.6px);
}

.restaurant {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurantHeading {
    width: min-content;
    color: var(--secondary);
    background-color: rgb(255, 138, 0, 0.1);
    border-radius: clamp(0px, 1.95vw, 44.07px);
    padding: clamp(0px, 0.65vw, 14.69px) clamp(0px, 1.82vw, 41.13px);
    font-family: 'raleway', sans-serif;
    font-size: clamp(0px, 1.17vw, 26.44px);
}

.restaurantTitle {
    margin-block: clamp(0px, 1.3vw, 29.38px);
    color: var(--primary);
    font-family: 'raleway', sans-serif;
    font-size: clamp(0px, 5.6vw, 126.56px);
    font-weight: 700;
}

.restaurantInfo {
    color: #5C4529;
    font-size: clamp(0px, 1.3vw, 29.38px);
    font-family: 'poppins', sans-serif;
}

.restaurantButtons {
    margin-top: clamp(0px, 3.58vw, 80.91px);
    display: flex;
    gap: clamp(0px, 0.78vw, 17.63px);
}

.restaurantButtons button {
    color: white;
    width: clamp(0px, 12.37vw, 279.56px);
    padding-block: clamp(0px, 1.04vw, 23.5px);
    font-size: clamp(0px, 1.3vw, 29.38px);
    border-radius: clamp(0px, 1.95vw, 44.07px);
    cursor: pointer;
    transition: 200ms;
}

.restaurantOrder {
    border: clamp(0px, 0.065vw, 1.47px) solid var(--secondary);
    background-color: var(--secondary);
}

.restaurantReservation {
    border: clamp(0px, 0.065vw, 1.47px) solid var(--tertiary);
    background-color: var(--tertiary);
}

.restaurantOrder:hover {
    background-color: #ca6d04;
    border: clamp(0px, 0.065vw, 1.47px) solid #ca6d04;
}

.restaurantReservation:hover {
    border: clamp(0px, 0.065vw, 1.47px) solid #338b25;
    background-color: #338b25;
}

.restaurantLeft {
    width: 50%;
}

.restaurantRight {
    width: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}

.vegetable1 {
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-12%, -15%);
    user-select: none;
}

.vegetable2 {
    width: 35%;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(160deg);
    translate: 6% 13%;
    user-select: none;
}

.restaurantSpaghettiImg {
    width: 97%;
    z-index: 1;
    filter: drop-shadow(-5px 10px 25px rgba(79, 79, 79, 0.2));
    user-select: none;
}

/* ----------> Welcome to Delizioso  <----------*/

.welcomeDelizioso {
    margin-top: clamp(0px, 8.46vw, 191.2px);
    padding-block: clamp(0px, 6.51vw, 130px);
    background-color: rgb(63, 198, 110, 0.1);
}

.insideWelcome {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.welcomeLeft {
    width: 50%;
    position: relative;
}

.leaf1,
.leaf2 {
    z-index: 1;
    position: absolute;
    user-select: none;
    width: 20%;
}

.leaf1 {
    top: 60%;
    left: -3%;
    transform: rotate(120deg);
}

.leaf2 {
    top: 15%;
    right: 0;
    transform: rotate(250deg);
}

.welcomeRight {
    width: 41%;
}

.saladImg {
    width: 100%;
    filter: drop-shadow(20px 20px 20px rgba(79, 79, 79, 0.2));
    user-select: none;
}

.welcomeTitle {
    color: var(--primary);
    font-size: clamp(0px, 5.27vw, 119.10px);
    font-family: 'tinos';
    font-weight: 700;
}

.orange {
    color: var(--secondary);
}

.welcomeInfo {
    color: #5C4529;
    margin-block: clamp(0px, 1.6vw, 36.84px);
    font-size: clamp(0px, 1.3vw, 29.38px);
    font-family: 'poppins';
}

.welcomeBtn {
    margin-top: clamp(0px, 1.4vw, 32.32px);
    color: white;
    background-color: var(--secondary);
    border: clamp(0px, 0.065vw, 1.47px) solid var(--secondary);
    width: clamp(0px, 12.37vw, 279.56px);
    padding-block: clamp(0px, 1.04vw, 23.5px);
    font-size: clamp(0px, 1.3vw, 29.38px);
    border-radius: clamp(0px, 1.95vw, 44.07px);
    cursor: pointer;
    transition: 200ms;
}

.welcomeBtn:hover {
    background-color: #ca6d04;
    border: clamp(0px, 0.065vw, 1.47px) solid #ca6d04;
}

/* ----------> Reverse Table <---------------------- */

.reserveTable {
    margin-top: 110px;
    padding-block: 75px;
    background-color: #fff4e7cb;
}

.insideReserve {
    width: 93%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reserveLeft {
    width: 56%;
    position: relative;
    border: 1px solid rgb(49, 31, 9, 0.2);
    border-radius: 100%;
    height: 775px;
    transform: translateX(-80px);
}

.reserveRight {
    width: 40%;
}

.reerveTitle {
    color: var(--primary);
    font-size: 81px;
    font-family: 'tinos';
    font-weight: 700;
}

.reserveInfo {
    color: #5C4529;
    margin-block: 25px;
    font-size: 20px;
    font-family: 'poppins';
}

.reserveBtn {
    margin-top: 22px;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    width: 190px;
    padding-block: 16px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 200ms;
}

.reserveBtn:hover {
    background-color: #ca6d04;
    border: 1px solid #ca6d04;
}

.insideLeft {
    border-radius: 100%;
    position: absolute;
    inset: 90px;
    background-color: rgb(225, 195, 159, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftImg {
    width: 460px;
    height: 450px;
    border-radius: 100%;
    object-fit: cover;
    user-select: none;
}

.reserveAbsolute {
    width: 145px;
    height: 145px;
    background-color: rgb(225, 195, 159, 0.2);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.reserveAbsolute img {
    width: 109px;
    height: 109px;
    border-radius: 100%;
    object-fit: cover;
    user-select: none;
}

.reserveAbsolute1 {
    top: 0px;
    right: 90px;
}

.reserveAbsolute2 {
    left: 90px;
    bottom: 0px;
}

/* -----------> Chef <------------- */

.chefTitle {
    margin-top: 70px;
    font-size: 80px;
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.cooks {
    margin-top: 80px;
    display: grid;
    gap: 40px 35px;
    grid-template-columns: repeat(3, 1fr);
}

.chefCard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chefImage {
    border-radius: 45px;
    width: 100%;
    height: 630px;
    object-fit: cover;
    object-position: top center;
    user-select: none;
    animation: AImage 1s;
}

@keyframes AImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.chefName {
    color: var(--primary);
    margin-top: 30px;
    font-family: 'poppins';
    font-weight: 600;
    font-size: 25px;
}

.chefJob {
    margin-top: 18px;
    color: #A08D76;
    font-family: 'poppins';
    font-size: 20px;
}

.chefBtn {
    width: 220px;
    color: white;
    margin-top: 80px;
    margin-inline: auto;
    padding-block: 16px;
    font-size: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 30px;
    display: block;
    cursor: pointer;
    transition: 200ms;
}

.chefHideBtn {
    width: 50px;
    height: 50px;
    color: black;
    margin-top: 70px;
    margin-inline: auto;
    font-size: 25px;
    background-color: rgb(241, 241, 241);
    border: 1px solid transparent;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 200ms;
}

.chefHideBtn:hover {
    background-color: rgb(227, 227, 227);
    border: 1px solid rgb(227, 227, 227);
}

.chefBtn:hover {
    background-color: #ca6d04;
    border: 1px solid #ca6d04;
}

.hideBtn {
    display: none;
}

/* --------------> weAreOpen <-------------- */

.weAreOpen {
    margin-top: 125px;
    padding-block: 45px 57px;
    width: 100%;
    background: linear-gradient(25deg, rgba(6, 6, 6, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%);
    border-radius: 70px;
    position: relative;
    user-select: none;
}

.insideWeAreOpen {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: text;
}

.openTitle {
    font-family: 'tinos';
    font-size: 80px;
    font-weight: 700;
}

.openInfo {
    margin-top: 16px;
    font-family: 'poppins';
    font-size: 40px;
    font-weight: 500;
}

.openTimeDiv {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;
}

.openTimeP {
    font-size: 20px;
    font-family: 'poppins';
    font-weight: 300;
}

.openButtons {
    margin-top: 48px;
    display: flex;
    gap: 12px;
}

.openButtons button {
    color: white;
    width: 230px;
    padding-block: 18px;
    font-size: 19px;
    border-radius: 30px;
    cursor: pointer;
    transition: 200ms;
}

.openOrderBtn {
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.openReservBtn {
    background-color: var(--tertiary);
    border: 1px solid var(--tertiary);
}

.openOrderBtn:hover {
    background-color: #ca6d04;
    border: 1px solid #ca6d04;
}

.openReservBtn:hover {
    border: 1px solid #338b25;
    background-color: #338b25;
}

.weAreOpenImg {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0px;
    object-fit: cover;
    z-index: -1;
    border-radius: 70px;
}


@media(max-width:650px) {
    .restaurant {
        flex-direction: column;
        gap: 15vw;
    }

    .restaurantLeft,
    .restaurantRight {
        width: 100%;
    }

    .restaurantHeading {
        border-radius: 4.68vw;
        padding: 1.56vw 4.37vw;
        font-size: 2.81vw;
    }

    .restaurantTitle {
        margin-block: 3.12vw;
        font-size: 13.44vw;
    }

    .restaurantInfo {
        font-size: 3.12vw;
    }

    .restaurantButtons {
        margin-top: 8.59vw;
        gap: 1.87vw;
    }

    .restaurantButtons button {
        width: 31vw;
        padding-block: 2.575vw;
        font-size: 3.2136vw;
        border-radius: 4.8204vw;
        
    }

    .restaurantOrder {
        border: 0.156vw solid var(--secondary);
    }

    .restaurantReservation {
        border: 0.156vw solid var(--tertiary);
    }

    /* --------> Welcome to Delizioso <------- */

    .insideWelcome {
        flex-direction: column-reverse;
        gap: 7.5vw;
    }

    .welcomeLeft,
    .welcomeRight {
        width: 100%;
    }

    .welcomeDelizioso {
        margin-top: 15.5vw;
        padding-block: 8vw 9.3vw;
    }
    
    .welcomeTitle {
        font-size: 13vw;
    }
    
    .welcomeInfo {
        margin-block: 3.8vw;
        font-size: 3.14vw;
    }
    
    .welcomeBtn {
        margin-top: 3.55vw;
        border: 0.156vw solid var(--secondary);
        width: 31vw;
        padding-block: 2.575vw;
        font-size: 3.2136vw;
        border-radius: 4.8204vw;
    }

}