:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F
}

.title {
    color: var(--primary);
    font-size: clamp(0px, 5.21vw, 119.80px);
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.menuTabs {
    margin-top: clamp(0px, 5vw, 110px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: clamp(0px, 1.3vw, 29.95px);
}

.menuTabs p {
    padding-block: clamp(0px, 1.11vw, 25.84px);
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: clamp(0px, 2.6vw, 59.89px);
    font-family: 'poppins';
    text-align: center;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
    color: rgba(49, 31, 9, 1);
    border: clamp(0px, 0.07vw, 1.58px) solid transparent;
    font-size: clamp(0px, 1.3vw, 29.95px);
    white-space: nowrap;
}

.menuTabs p.activeItem {
    background-color: var(--primary);
    color: white;
}

.menuTabs p:not(.activeItem):hover {
    background-color: rgba(136, 135, 132, 0.1);
}

.menu {
    width: 100%;
    margin-top: clamp(0px, 3.91vw, 90.75px);
    display: grid;
    gap: clamp(0px, 1.63vw, 37.24px);
    grid-template-columns: 1fr 1fr 1fr;
}

.menuCard {
    padding-block: clamp(0px, 1.95vw, 44.92px) clamp(0px, 2.08vw, 47.92px);
    padding-inline: clamp(0px, 2.28vw, 53.91px);
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: clamp(0px, 4.56vw, 107.81px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage {
    width: 100%;
    height: clamp(0px, 16.28vw, 389.33px);
    object-fit: contain;
    filter: contrast(110%);
    user-select: none;
    animation: AImage 1s;
}

@keyframes AImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cardName {
    width: clamp(0px, 20.83vw, 500.13px);
    margin-top: clamp(0px, 1.5vw, 35.94px);
    text-align: center;
    color: #342717;
    font-size: clamp(0px, 1.95vw, 46.72px);
    font-weight: 600;
    font-family: 'poppins';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDesc {
    margin-top: clamp(0px, 0.98vw, 23.60px);
    color: rgb(52, 39, 23, 0.8);
    text-align: center;
    font-size: clamp(0px, 1.11vw, 26.45px);
    font-family: 'poppins';
}

.cardFoot {
    margin-top: clamp(0px, 2.28vw, 53.91px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardPrice {
    color: var(--primary);
    font-size: clamp(0px, 1.95vw, 46.72px);
    font-weight: 600;
    font-family: 'poppins';
}

.cardOrder {
    color: white;
    background-color: var(--secondary);
    border: clamp(0px, 0.07vw, 1.58px) solid var(--secondary);
    width: clamp(0px, 11.39vw, 272.53px);
    padding-block: clamp(0px, 1.04vw, 24.85px);
    font-size: clamp(0px, 1.17vw, 27.85px);
    border-radius: clamp(0px, 1.95vw, 46.72px);
    cursor: pointer;
    transition: 200ms;
    user-select: none;
}

.cardOrder:hover {
    background-color: #ca6d04;
    border: clamp(0px, 0.07vw, 1.58px) solid #ca6d04;
}

@media(max-width:650px) {
    .title {
        font-size: clamp(42px , 11vw , 200px);
    }
    .menu {
        margin-top: 6.35vw;
        grid-template-columns: 1fr 1fr;
        gap: 2.65vw;
    }

    .menuCard {
        padding-block: 3.18vw 3.38vw;
        padding-inline: 3.70vw;
        border-radius: 7.41vw;
    }

    .cardImage {
        height: 30vw;
    }

    .cardName {
        width: 34vw;
        margin-top: 2.44vw;
        font-size: 3.85vw;
    }

    .cardDesc {
        margin-top: 1.7vw;
        font-size: 2.44vw;
    }

    .cardFoot {
        margin-top: 4vw;
    }

    .cardPrice {
        font-size: 3.7vw;
    }

    .cardOrder {
        border: 0.127vw solid var(--secondary);
        width: 21vw;
        padding-block: 1.943vw;
        font-size: 2.45vw;
        border-radius: 3.657vw;
        
    }

    .menuTabs {
        margin-top: 8vw;
        display: flex;
        gap: 1.684vw;
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
        padding-left: 8vw;
        box-sizing: border-box;
    }
    
    .menuTabs p {
        min-width: 26.4vw;
        padding-block: 2.533vw;
        border-radius: 5.917vw;
        border: 0.158vw solid transparent;
        font-size: 2.952vw;
    }
    
    
}