:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F;
}

.title {
    color: var(--primary);
    font-size: 5.21vw;
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.menuTabs {
    margin-top: 5vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.3vw;
}

.menuTabs p {
    padding-block: 1.11vw;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 2.6vw;
    font-family: 'poppins';
    text-align: center;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
    color: rgba(49, 31, 9, 1);
    border: 0.07vw solid transparent;
    font-size: 1.3vw;
    white-space: nowrap;
}

.menuTabs p.activeItem {
    background-color: var(--primary);
    color: white;
}

.menuTabs p:not(.activeItem):hover {
    background-color: rgba(136, 135, 132, 0.1);
}

.menu {
    width: 100%;
    margin-top: 3.91vw;
    display: grid;
    gap: 1.63vw;
    grid-template-columns: 1fr 1fr 1fr ;
}

.menuCard {
    padding-block: 1.95vw 2.08vw;
    padding-inline: 2.28vw;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 4.56vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage {
    width: 100%;
    height: 16.28vw;
    object-fit: contain;
    filter: contrast(110%);
    user-select: none;
    animation: AImage 1s;
}

@keyframes AImage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cardName {
    width: 20.83vw;
    margin-top: 1.5vw;
    text-align: center;
    color: #342717;
    font-size: 1.95vw;
    font-weight: 600;
    font-family: 'poppins';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDesc {
    margin-top: 0.98vw;
    color: rgb(52, 39, 23, 0.8);
    text-align: center;
    font-size: 1.11vw;
    font-family: 'poppins';
}

.cardFoot {
    margin-top: 2.28vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardPrice {
    color: var(--primary);
    font-size: 1.95vw;
    font-weight: 600;
    font-family: 'poppins';
}

.cardOrder {
    color: white;
    background-color: var(--secondary);
    border: 0.07vw solid var(--secondary);
    width: 11.39vw;
    padding-block: 1.04vw;
    font-size: 1.17vw;
    border-radius: 1.95vw;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
}

.cardOrder:hover {
    background-color: #ca6d04;
    border: 0.07vw solid #ca6d04;
}

@media(max-width:650px) {
    .title {
        font-size: clamp(42px , 11vw , 200px);
    }
    .menu {
        margin-top: 6.35vw;
        grid-template-columns: 1fr 1fr;
        gap: 2.65vw;
    }

    .menuCard {
        padding-block: 3.18vw 3.38vw;
        padding-inline: 3.70vw;
        border-radius: 7.41vw;
    }

    .cardImage {
        height: 30vw;
    }

    .cardName {
        width: 34vw;
        margin-top: 2.44vw;
        font-size: 4.5vw;
    }

    .cardDesc {
        margin-top: 1.3vw;
        font-size: 3.1vw;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .cardFoot {
        margin-top: 2.35vw;
    }

    .cardPrice {
        font-size: 4.6vw;
    }

    .cardOrder {
        border-radius: 100%;
        width: 8.2vw;
        height: 8.2vw;
        font-size: 6.13vw;        
        font-weight: 100;
        font-family: 'sans-serif';
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuTabs {
        margin-top: 8vw;
        display: flex;
        gap: 1.684vw;
        width: 100%;
        overflow: scroll;
        scrollbar-width: none;
        padding-left: 8vw;
        box-sizing: border-box;
    }
    
    .menuTabs p {
        min-width: 26.4vw;
        padding-block: 2.533vw;
        border-radius: 5.917vw;
        border: 0.158vw solid transparent;
        font-size: 3.1vw;
    }
}