:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F
}

.title {
    color: var(--primary);
    font-size: 5.21vw;
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.checkoutHead {
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 3.58vw;
}

.exitBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 2.73vw;
    height: 2.73vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #311F09;
    border-radius: 100%;
    cursor: pointer;
    transition: 200ms;
}

.exitBtn svg {
    width: 1.24vw;
    height: 1.24vw;
}

.exitBtn:hover {
    background-color: #190e01;
}

.orderData {
    margin-top: 2.6vw;
    font-size: 1.63vw;
    font-weight: 500;
    font-family: 'poppins';
}

.contactForm {
    margin-top: 1.3vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3vw;
}

.contactForm textarea {
    height: 13.02vw;
    padding: 1.63vw;
    resize: none;
    grid-column: 1 / 3;
    font-size: 1.17vw;
    font-family: 'poppins';
    outline: none;
    background-color: rgb(208, 204, 199, 0.1);
    border: 1px solid rgb(159, 157, 157, 0);
    border-radius: 0.52vw;
    transition: 200ms;
}

.contactForm textarea:focus {
    border: 1px solid rgb(159, 157, 157, 0.6);
}

.formInput {
    font-family: 'poppins';
    font-size: 1.17vw;
    padding: 1.95vw;
    outline: none;
    background-color: rgb(208, 204, 199, 0.1);
    border: 1px solid rgb(159, 157, 157, 0);
    border-radius: 0.52vw;
    transition: 200ms;
}

.formInput:focus {
    border: 1px solid rgb(159, 157, 157, 0.6);
}

.formD {
    width: 22.78vw;
    margin-top: 1.95vw;
    display: flex;
    justify-content: space-between;
}

.radioD {
    display: flex;
    align-items: center;
    gap: 0.65vw;
    cursor: pointer;
}

.radioD input {
    width: 1.63vw;
    height: 1.63vw;
    accent-color: green;
    cursor: pointer;
}

.radioD p {
    font-size: 1.3vw;
    color: #5C4529;
    font-family: 'poppins';
}

.paymentRadio {
    width: 26.04vw;
    background-color: rgb(208, 204, 199, 0.1);
    border-radius: 0.65vw;
    padding: 1.3vw;
    margin-block: 1.3vw;
    cursor: pointer;
    transition: 200ms;
}

.paymentRadio:hover {
    background-color: rgb(208, 204, 199, 0.3);
}

.shipping {
    width: 100%;
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
    display: flex;
    gap: 0.65vw;
}

.shippingInp {
    width: 100%;
    padding-block: 1.43vw;
    padding-inline: 1.63vw;
    border-radius: 0.65vw;
    font-size: 1.17vw;
    background-color: rgb(208, 204, 199, 0.1);
    border: 1px solid transparent;
    outline: none;
    transition: 200ms;
    box-sizing: border-box;
}

.shippingInp:focus {
    border: 1px solid rgb(159, 157, 157, 0.6);
}

.shippingBtn {
    background-color: #53A5E0;
    border: 1px solid transparent;
    border-radius: 0.65vw;
    color: white;
    font-size: 1.17vw;
    font-family: 'poppins';
    padding-inline: 2.6vw;
    cursor: pointer;
    transition: 200ms;
}

.shippingBtn:hover {
    background-color: #3878a6;
}

.mapD {
    margin-top: 1.63vw;
    width: 100%;
    position: relative;
}

.mapImg {
    width: 100%;
    border-radius: 1.3vw;
}

.mapLocation {
    width: 6.18vw;
    height: 6.18vw;
    position: absolute;
    top: 57%;
    left: 54%;
    user-select: none;
}

.orderFoot {
    display: flex;
    justify-content: center;
}

.orderNowBtn {
    margin-top: 5.21vw;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    width: 19.53vw;
    padding-block: 1.17vw;
    font-size: 1.3vw;
    border-radius: 0.65vw;
    cursor: pointer;
    transition: 200ms;
}

.orderNowBtn:hover {
    background-color: #ca6d04;
    border: 1px solid #ca6d04;
}