:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F;
}

.navbar {
    padding-block: 1.302vw;
}

.insideNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    user-select: none;
}

.logo img {
    width: 8.594vw;
}

.logoLink {
    position: absolute;
    inset: 0;
}

.navLinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navLink {
    color: var(--primary);
    font-size: 0.911vw;
    font-weight: 400;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    user-select: none;
}

.active {
    color: var(--secondary);
}

.navEnd {
    display: flex;
    align-items: center;
    gap: 0.977vw;
}

.basketImgDiv {
    position: relative;
    user-select: none;
}

.basketImg {
    width: 1.563vw;
    height: 1.563vw;
    padding: 0.651vw;
    border-radius: 100%;
    border: 0.065vw solid transparent;
    cursor: pointer;
    transition: 300ms;
}

.basketImg:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

.basketNum {
    border: 0.065vw solid red;
    background-color: red;
    color: white;
    font-family: 'poppins';
    position: absolute;
    font-size: 0.586vw;
    top: 0.26vw;
    right: 0.065vw;
    width: 0.977vw;
    height: 0.977vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    user-select: none;
}

.loginLink {
    color: white;
    text-decoration: none;
    background-color: var(--tertiary);
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 0.911vw;
    padding: 0.651vw 1.693vw;
    border-radius: 2.278vw;
    transition: 200ms;
}

.loginLink:hover {
    background-color: #338b25;
}

.navMenuIcon {
    padding: 0.716vw;
    border-radius: 100%;
    overflow: visible;
    cursor: pointer;
    transition: 300ms;
    display: none;
    user-select: none;
}

.navMenuIcon:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

.resNav {
    width: 290px;
    background-color: white;
    border-right: 1px solid rgb(205, 205, 205);
    box-shadow: 0px 0px 20px rgb(161, 161, 161);
    position: fixed;
    inset: 0;
    z-index: 5;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 25px;
    transition: 350ms;
    overflow: scroll;
    scrollbar-width: none;
}

.resOpen {
    transform: translateX(0px);
}

.resClose {
    transform: translateX(-110%);
}

.resNavLogo {
    margin-inline: 25px;
    margin-bottom: 20px;
    width: min-content;
    position: relative;
    user-select: none;
}

.resNavLinks {
    display: flex;
    flex-direction: column;
}

.resNavLinks .navLink {
    padding: 15.5px 18px;
    margin-inline: 15px;
    border-radius: 12px;
    font-size: 16px;
    transition: 200ms;
}

.resNavBtns {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resNavBtns button {
    margin-inline: 15px;
    padding-block: 13px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'poppins';
    transition: 200ms;
}

.resNavBtns .loginBtn {
    border: 1px solid transparent;
    background-color: transparent;
}

.resNavBtns .loginBtn:hover {
    border: 1px solid var(--tertiary);
}

.resNavBtns .signBtn {
    border: 1px solid var(--tertiary);
    color: white;
    background-color: var(--tertiary);
}

.resNavBtns .signBtn:hover {
    background-color: #338b25;
}

.resNavLinks .navLink:hover {
    background-color: rgb(237, 237, 237);
}

.resNavO {
    position: fixed;
    inset: 0px;
    z-index: 4;
}

@media(max-width:400px) {
    .resNav {
        width: 35vh;
    }

    .resNavLogo img {
        width: 17.99vh;
    }

    .resNavLinks .navLink {
        padding: 2.1vh 2.7vh;
        font-size: 2.10vh;
    }

    .resNavBtns {
        gap: 1.05vh;
    }

    .resNavBtns button {
        font-size: 2vh;
        padding-block: 1.50vh;
    }

}

@media(max-width:1250px) {
    .navbar {
        padding-block: 20px;
    }

    .logo img {
        width: 132px;
    }

    .basketImg {
        width: 24px;
        height: 24px;
        padding: 10px;
    }

    .basketNum {
        font-size: 9px;
        top: 4px;
        right: 1px;
        width: 15px;
        height: 15px;
    }

    .navMenuIcon {
        padding: 11px;
    }

    .navLinks,
    .loginLink {
        display: none;
    }

    .navMenuIcon {
        display: block;
    }

    .navEnd {
        gap: 5px;
    }
}

@media(max-width:380px) {
    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 120px;
    }

    .basketImg {
        width: 20px;
        height: 20px;
        padding: 7px;
    }

    .basketNum {
        width: 12px;
        height: 12px;
        font-size: 8px;
        top: 3px;
        right: 0;
    }

    .navMenuIcon {
        width: 20px;
        height: 20px;
        padding: 7px;
    }
}