:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F;
}

.navbar {
    padding-block: 1.302vw;
}

.insideNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    user-select: none;
}

.logo img {
    width: 8.594vw;
}

.logoLink {
    position: absolute;
    inset: 0;
}

.navLinks {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.navLink {
    color: var(--primary);
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 0.911vw;
}

.active {
    color: var(--secondary);
}

.navEnd {
    display: flex;
    align-items: center;
    gap: 0.977vw;
}

.basketImgDiv {
    position: relative;
    user-select: none;
}

.basketImg {
    width: 1.563vw;
    height: 1.563vw;
    padding: 0.651vw;
    border-radius: 100%;
    border: 0.065vw solid transparent;
    cursor: pointer;
    transition: 300ms;
}

.basketImg:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

.basketNum {
    border: 0.065vw solid red;
    background-color: red;
    color: white;
    font-family: 'poppins';
    position: absolute;
    font-size: 0.586vw;
    top: 0.26vw;
    right: 0.065vw;
    width: 0.977vw;
    height: 0.977vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    user-select: none;
}

.loginLink {
    color: white;
    text-decoration: none;
    background-color: var(--tertiary);
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    font-size: 0.911vw;
    padding: 0.651vw 1.693vw;
    border-radius: 2.278vw;
    transition: 200ms;
}

.loginLink:hover {
    background-color: #338b25;
}

.navMenuIcon {
    padding: 0.716vw;
    border-radius: 100%;
    overflow: visible;
    cursor: pointer;
    transition: 300ms;
    display: none;
    user-select: none;
}

.navMenuIcon:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

.resNav {
    background-color: white;
    opacity: 0.4;
    position: fixed;
    inset: 0;
    z-index: 5;
}

@media(max-width:1250px) {
    .navbar {
        padding-block: 20px;
    }

    .logo img {
        width: 132px;
    }

    .basketImg {
        width: 24px;
        height: 24px;
        padding: 10px;
    }

    .basketNum {
        font-size: 9px;
        top: 4px;
        right: 1px;
        width: 15px;
        height: 15px;
    }

    .navMenuIcon {
        padding: 11px;
    }


    .navLinks {
        display: none;
    }

    .loginLink {
        display: none;
    }

    .navMenuIcon {
        display: block;
    }

    .navEnd {
        gap: 5px;
    }
}

@media(max-width:380px) {
    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        width: 120px;
    }

    .basketImg {
        width: 20px;
        height: 20px;
        padding: 7px;
    }

    .basketNum {
        width: 12px;
        height: 12px;
        font-size: 8px;
        top: 3px;
        right: 0;
    }

    .navMenuIcon {
        width: 20px;
        height: 20px;
        padding: 7px;
    }
}