:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F;
}

.reservation {
    margin-top: 3.91vw;
}

.title {
    color: var(--primary);
    font-size: 5.21vw;
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.info {
    margin-top: 1.30vw;
    color: #5C4529;
    font-family: 'poppins';
    font-size: 1.30vw;
    text-align: center;
}

.contactForm {
    margin-top: 3.26vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.30vw;
}

.formNumber {
    grid-column: 3 / span 2;
}

.formInput {
    font-family: 'poppins';
    font-size: 1.17vw;
    padding: 1.95vw;
    outline: none;
    background-color: rgba(208, 204, 199, 0.1);
    border: 1px solid rgba(159, 157, 157, 0);
    border-radius: 0.52vw;
    transition: 200ms;
}

.contactForm textarea {
    height: 13.02vw;
    resize: none;
    grid-column: 1 /span 4;
}

.formInput:focus {
    border: 1px solid rgba(159, 157, 157, 0.6);
}

.formSubmitDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.formBtn {
    margin-top: 3.91vw;
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    width: 19.53vw;
    padding-block: 1.17vw;
    font-size: 1.30vw;
    border-radius: 0.65vw;
    cursor: pointer;
    transition: 200ms;
}

.formBtn:hover {
    background-color: #ca6d04;
    border: 1px solid #ca6d04;
}

@media(max-width:650px) {
    .reservation {
        margin-top: 3.9vw;
    }

    .title {
        margin-top: clamp(0px, 6.2vw, 6.2vw);
        font-size: clamp(42px, 12vw, 12vw);
    }

    .info {
        font-size: 3.2vw;
        margin-top: 2.5vw;
    }

    .contactForm {
        margin-top: 6.05vw;
        grid-template-columns: 1fr;
        gap: 2.78vw;
    }

    .formNumber {
        grid-column: auto;
    }

    .contactForm textarea {
        grid-column: auto;
        height: 33.33vw;
    }

    .formInput {
        font-size: 4.17vw;
        padding: 3.61vw;
        border-radius: 1.39vw;
    }

    .formBtn {
        margin-top: 9vw;
        width: 30vw;
        padding-block: 3.2vw;
        font-size: 4vw;
        border-radius: 1.3vw;
    }

}