:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F
}

.menuRightW {
    width: 28%;
}

.order {
    margin-top: 3.91vw;
}

.title {
    color: var(--primary);
    font-size: 5.21vw;
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.menuTabs {
    margin-top: 4.765vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.3vw;
}

.menuTabs p {
    padding-block: 1.11vw;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 2.6vw;
    font-family: 'poppins';
    text-align: center;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
    color: rgba(49, 31, 9, 1);
    border: 0.07vw solid transparent;
    font-size: 1.3vw;
    white-space: nowrap;
}

.menuTabs p.activeItem {
    background-color: var(--primary);
    color: white;
}

.menuTabs p:not(.activeItem):hover {
    background-color: rgba(136, 135, 132, 0.1);
}

.menuName {
    margin-left: 0.46vw;
    margin-top: 2.93vw;
    width: calc(5ch + 0.65vw);
    font-size: 1.95vw;
    font-family: 'poppins';
    font-weight: 600;
    border-bottom: 0.20vw solid var(--secondary);
    color: var(--primary);
}

.pizzaMenuName {
    width: calc(5ch - 0.33vw);
    margin-top: 3.58vw;
    margin-bottom: 2.28vw;
}

.menu {
    width: 100%;
    margin-top: 2.28vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1.63vw;
}

.allMenuLeft {
    width: 70%;
}
