:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F
}
.menuRightW{
    width: 28%;
}
.order {
    margin-top: 60px;
}

.title {
    color: var(--primary);
    font-size: 80px;
    font-weight: 700;
    font-family: 'tinos';
    text-align: center;
}

.menuTabs {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.menuTabs p {
    padding-block: 17px;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 40px;
    font-family: 'poppins';
    text-align: center;
    cursor: pointer;
    transition: 200ms;
    user-select: none;
    color: rgba(49, 31, 9, 1);
    border: 1px solid transparent;
    font-size: 20px;
    white-space: nowrap;
}

.menuTabs p.activeItem {
    background-color: var(--primary);
    color: white;
}

.menuTabs p:not(.activeItem):hover {
    background-color: rgba(136, 135, 132, 0.1);
}

.menuName {
    margin-left: 7px;
    margin-top: 45px;
    width: calc(5ch + 10px);
    font-size: 30px;
    font-family: 'poppins';
    font-weight: 600;
    border-bottom: 3px solid var(--secondary);
    color: var(--primary);
}

.pizzaMenuName {
    width: calc(5ch - 5px);
    margin-top: 55px;
    margin-bottom: 35px;
}

.menu {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 25px;
}

.allMenuLeft {
    width: 70%;
}

