:root {
    --primary: #311F09;
    --secondary: #FF8A00;
    --tertiary: #3FA72F;
}

.menuLeft {
    width: 100%;
    display: grid;
    gap: 1.43vw;
    grid-template-columns: 1fr 1fr 1fr;
}

.menuNotItem {
    font-family: 'poppins';
    font-size: 5.21vw;
    grid-column: 2;
}

.menuCard {
    padding-block: 1.50vw;
    padding-inline: 1.30vw;
    background-color: rgba(208, 204, 199, 0.1);
    border-radius: 2.73vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage {
    width: 100%;
    height: 13.02vw;
    object-fit: contain;
    filter: contrast(110%);
    user-select: none;
    animation: AImage 1s;
}

@keyframes AImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.cardName {
    width: 14.32vw;
    color: #342717;
    margin-top: 1.17vw;
    font-size: 1.76vw;
    font-weight: 600;
    font-family: 'poppins';
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardDesc {
    margin-top: 0.65vw;
    color: rgb(52, 39, 23, 0.8);
    text-align: center;
    font-size: 1.04vw;
    font-family: 'poppins';
}

.cardFoot {
    margin-top: 1.17vw;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardPrice {
    color: var(--primary);
    font-size: 1.82vw;
    font-weight: 600;
    font-family: 'poppins';
}

.cardOrder {
    color: white;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    width: 2.93vw;
    height: 2.93vw;
    font-size: 1.95vw;
    border-radius: 1.95vw;
    cursor: pointer;
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.cardOrder:hover {
    background-color: #ca6d04;
    border: 1px solid #ca6d04;
}
